<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--过车接口-->
    <add key="PassCarHttp" value="http://www.parkicloud.com:10012/dts/external/getInOutInfo" />
    <!--月租接口-->
    <add key="MonthCarHttp" value="http://www.parkicloud.com:10012/dts/external/getMonthCarRecord" />
    <!--一次获取最大数据量,最大1000-->
    <add key="Limit" value="1000" />
    <!--停车场编码-->
    <add key="ParkingCode" value="ydt_42191" />
    <!--密钥-->
    <add key="MD5Key" value="6WqT659M8VKBf241" />
    <!--轮询参数，单位：秒-->
    <add key="IntervalSeconds" value="3" />
    <!--每次获取数据时间间隔(单位：秒)，
    计算方式为：获取数据量大小/停车场出口数量*每辆车通过秒数，
    配置此参数需要提前算好,并且只能是整数，
    系统默认：1800，
    本次计算过程：1000 / 2 * 3.6
    -->
    <add key="PassSeconds" value="1800" />
    <!--上次获取数据的开始时间-->
    <add key="LastCheckTime" value="2019-05-01 09:00:00" />
    <!--订单参数-->
    <add key="Customer" value="11111" />
    <add key="UserName" value="Admin" />
    <add key="OrderType" value="07" />
    <add key="FeeID" value="DL-TCC-1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
  <add name="DorllyOrderModel" connectionString="data source=.;initial catalog=DorllyOrderTest;persist security info=True;user id=sa;password=lwy;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>